.headerBackground {
    background-color: rgb(0, 84, 139);
    display: flex;
}

.container {
    position: relative;
    display: flex;
    color: white;
}

.container div {
    display: inline-block;
}



.adjust {
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px
}

.breadcrumbContianer {
    margin-top: 20px;
    flex: 2 1 auto;
    white-space: nowrap;
}

ul.breadcrumb {

    list-style: none;
    background-color: #ffffff;
}

ul.breadcrumb li {
    display: inline;

}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: ">";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.outerBox {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;


}

.outerBox2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}




.title {
    margin-bottom: 20px;
}

.line {
    margin-bottom: 40px;
    border-top: 4px solid gold;
    width: 60px;
}

.Searchcontainer {
    border: 1px solid gray;
    margin: 0px 5% 20px 5%;
}




.refLink {
    min-width: 15%;


}

.refLink table {
    border:
}

.refLink ul {
    padding: 0;
    list-style-type: none;
}



video {
    display: block;
    margin: 0 auto;
}

#refTable {
    background-color: gainsboro;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /*text-align: center;*/
}

#refTable th {
    text-align: center;
}



#introDiv {
    margin-top: 30px;
    margin-bottom: 40px;
}

#videoDiv {
    margin-top: 20px;

}

#EPLDiv {
    margin-top: 30px;
    margin-bottom: 40px;
}

td {
    padding: 3px;
}

#vendorTrack {
    list-style: none;
}

.vtSmall li {
    padding-bottom: 10px;
    padding-top: 10px;
}








/* Add a black background color to the top navigation */
#topnav {
  background-color: #9f9e9e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

#topnav a:hover {
  border-bottom: 3px solid #00548b;
}

#topnav a.active {
  border-bottom: 3px solid #00548b;

}

.contentBox {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid black;
}

.contentBox table{
   width: 100%
}

.contentBox h2{
  margin: 0px 0px 10px 0px;
border-bottom: 2px solid #00548b
}

.shorten {
    width: 130px
}


.boxlist {
    margin-left: 6%;
    width: 86%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden; 
    height: 275px;

}



#employee {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#employee td, #employee th {
  border: 1px solid #ddd;
  padding: 8px;
}

#employee tr:nth-child(even){background-color: #f2f2f2;}

#employee th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000000;
  color: white;
}



.boxlist2 {
background-color: white;

}


#button {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


#button td, #button th {
  padding: 8px;
}







#request input[type=text],textarea,input[type=date], select {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#ListOfName {
    height: 100px;
}

#MarketingDescription {
     height: 100px;
}

.inputBlock {
    height: 100px;
}

.inputBlock2 {
    height: 200px;
   
}

#soundtable th {
     padding: 10px;
        border: 1px solid black;
     text-align: center;
}

#soundtable td {
     padding: 10px;
        border: 1px solid black;
     text-align: center;
}



.accordion {
  background-color: #cbcbcb;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #8d8d8d; 
}

.panel {
  padding: 0 18px;
  overflow: hidden;
background-color: #f0f0f0;
    display: none;
}

.messagebox {
    display: flex;
}

.messageH {
    width: 180px;
}



.Messagebox {
 width: 180px;
    
}



.simpleTable {
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.simpleTable td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.simpleTable tr:nth-child(even) {
  background-color: #dddddd;
}